<p><%= flash[:error] unless flash[:error].blank? %></p>
<%= form_for([@user,@article, @article.comments.build],:remote => true,html: { multipart: true }) do |f| %>
  <div class="form-group">
    <div class="col-md-3">
      <%= f.text_area :body ,class:"form-control"%>
    </div>  
  </div>
  <p>
    <div class="col-md-3">
  	  <b>only pdf and Images are allowed.</b>
    </div>
  </p>
  <div class="form-group">
    <div class="col-md-3">
  	  <%= f.file_field :avatar,class:".form-control-file" %>
    </div>
  </div>
  
  <div class="form-group">
    <div class="col-md-3">
      <%= f.submit, class:"btn btn-default" %>
    </div>
  </div
<% end %>

