<p><%= flash[:error] unless flash[:error].blank? %></p>
<%= form_for([@user,@article, @article.comments.build],:remote => true,html: { multipart: true }) do |f| %>
  <div class="form-group">
    <div class="col-md-3">
      <%= f.text_area :body ,class:"form-control"%>
    </div>  
  </div>
  <br>
  <br>
  <br>
    <div class="col-md-3">
  	  <b style="color:#ff3300;">only pdf and Images are allowed.</b>
    </div>
  <br>
  <br>
   
  <div class="form-group">
    <div class="col-md-3">
  	  <%= f.file_field :avatar,class:".form-control-file" %>
    </div>
  </div>
  <br>
  
  
  
  <div class="form-group">
    <%= f.submit "create comment",class:"btn btn-default col-md-2"%>
   
  </div>
<% end %>

