<p><%= flash[:error] unless flash[:error].blank? %></p>
<%= form_for([@user,@article, @article.comments.build],:remote => true,html: { multipart: true }) do |f| %>
  <p>
    <%= f.text_area :body %>
  </p>
  <p>
  	<b>only pdf and Images are allowed.</b>
  </p>
  <p>
  	 <%= f.file_field :avatar %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>

