<%= link_to 'Back', show_approved_articles_user_article_path(@user,@article)%>
<p>
  <strong>Commenter:</strong>
    <%@cname=User.find(@comment.user_id)%>
    <%=@cname.name + " " + @cname.surname%>
</p>
<p>
  <strong>Comment:</strong>
  <%= @comment.body %>
</p>

<div id='repshow'>
	<h2><strong style="color: #008066;">Rplies</strong></h2>
  <%= render 'replies/reply', replies: @comment.replys %>
</div>


<h2>Create Reply:</h2>
<%= render 'replies/form' %>


