<h1>Listing of Approved articles</h1>

<table class="table table-striped">
  <tr >
    <th > User Name</th>
    <th>Article Title</th>
    <th>Date of Article Creation</th>
  </tr>

  <% @articles.each do |article| %>
  <tr>
    <%@user_name = User.find(article.user_id)%>
    <td><%= @user_name.name + " " + @user_name.surname %></td>
    <td><%= article.title %></td>
    <td> <%=article.created_at.strftime("%d %B, %Y") %></td>
    <td> <%= link_to 'View',show_approved_articles_user_article_path(@user_name.id, article.id) %>
    </td>
    <td>

      <% @like=Like.where(:user_id => @current_user.id,:article_id =>article.id)%>  
      <%if !@like.present?%>
        <span class="glyphicon glyphicon-thumbs-up"%></span><%= article.likes.count%> <%=button_to 'Like',like_user_article_path(@user_name.id,article.id),method: :get,:remote => true, id: 'likecount',class:"btn btn-default btn-sm" %> 

      <%else%>

        <span class="glyphicon glyphicon-thumbs-up"%></span><%= article.likes.count%><%=button_to 'Liked',like_user_article_path(@user_name.id,article.id),method: :get,disabled: true,class:"btn btn-default btn-sm" %> 
        
      <%end%>
    </td> 
  </tr>
  <%end%>

</table>

<%= link_to 'Back', user_home_user_path(@current_user)  %>
