<h1>Listing of Requested articles</h1>

<table>
  <tr>
    <th > User Name</th><td> </td>
    <th >Article Title</th>
    <th>Date of  Article Creation</th>
   
  </tr>
  <% @articles.each do |article| %>
  <tr>
    <%@user_name = User.find(article.user_id)%>
    <td ><%= @user_name.name + " " + @user_name.surname %></td><td></td>
    <td ><%= article.title %></td>
    <td> <%=article.created_at.strftime("%d %b, %Y") %></td>
    <td><%= link_to 'Show',user_article_path(@user_name.id, article.id) %></td>
    <td>
      <%if @current_user.admin? && article.request_send?%>
        <div class="btn-group">
        <%= button_to "Approve",approved_article_user_article_path(@user_name,article.id),:remote => true, class:'status_for_approve'%>
        <%= button_to "Deny",deny_article_user_article_path(@user_name,article.id),:remote => true, class:'status_for_deny'%>
      </div>
      <%end%>
    </td>
  </tr>
  <%end%>
</table>
<%= link_to 'Back',admin_home_user_path(@current_user) %>
