<div class="row"> 
<<<<<<< HEAD
	
	<%= button_to "Create New Article", new_user_article_path(params[:id]), method: :get , class:"btn btn-info col-md-4"%>
			
	<%= button_to "View My Articles",  user_articles_user_articles_path(params[:id]) , method: :get , class:"btn btn-success col-md-4"%>
		
	<%= button_to "View Approved Article",articles_list_of_approved_articles_path(), method: :get,class:"btn btn-warning col-md-4" %>
		
=======
	<div class="btn-group">
		<div class="col-md-4">
	
			<%= button_to "Create New Article", new_user_article_path(params[:id]), method: :get , class:"btn-default"%>
			</div>
		<div class="col-md-4">

			<%= button_to "View My Articles",  user_articles_user_articles_path(params[:id]) , method: :get , class:"btn-default"%>
		</div>
		<div class="col-md-4">
		
			<%= button_to "View Approved Article",articles_list_of_approved_articles_path(), method: :get,class:"btn-default" %>
		</div>
	</div>
>>>>>>> a6913da77b6300f772590102506b800d602d6aba
</div>
