<!DOCTYPE html>
<html>
  <head>
    <title>Demo</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
   
    
    <%if @current_user.present?%>

      <nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="#">WebSiteName</a>
          </div>
          <ul class="nav navbar-nav">
            <li class="active">  
              <%if @current_user.user?%>
                <%= link_to 'Home',  user_home_user_path(@current_user) %>
              <%else%>
                <%= link_to 'Home',  admin_home_user_path(@current_user) %>
              <%end%>
            </li>
        
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><%= button_to 'Logout',logout_path, method: :delete, class:"btn btn-danger btn-lg" %> </li>
            
          </ul>
        </div>
      </nav>
    <% end %>
  </head>

  <body>
    <%= yield %> 
  </body>
</html>
